In [17]:
import pandas as pd 
import tensorflow
from tensorflow import keras
from keras import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

df = pd.read_csv("../Churn_Modelling.csv")

In [18]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [19]:
df = df.drop(["RowNumber", "CustomerId", "Surname"], axis=1)

In [20]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [21]:
le = LabelEncoder()
for col in df.select_dtypes("object"):
    df[col] = le.fit_transform(df[col])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [22]:
Y = df["Exited"]
X = df.drop(["Exited"], axis=1)
Xtrain, Xtest,ytrain,ytest = train_test_split(X,Y, test_size=0.2, shuffle=True, random_state=42)

In [23]:
#scaling es muy importante para gardient descent en NN, SVM, distance measurementes, knn 
scaler = MinMaxScaler()
#important to apply it after splitting bc it affects data leakage and overfitting if combined with xtest , por eso debe ser independiente
Xtrain = scaler.fit_transform(Xtrain)
#se aplican los parameters learned from the training set
Xtest = scaler.transform(Xtest)

In [24]:
import tensorflow as tf
from keras.layers import Dense, Dropout, BatchNormalization
from keras.optimizers import Adam
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.utils import class_weight
import numpy as np


unique_classes = np.unique(ytrain)

In [25]:
from keras.callbacks import EarlyStopping, ModelCheckpoint

check = ModelCheckpoint("bestmodel.keras", monitor='recall', save_best_only = True, mode="max")
early_stopping = EarlyStopping(
    monitor='recall',    # Metric to monitor
    patience=10,            # Number of epochs with no improvement after which training will be stopped
    restore_best_weights=True,  # Restore model weights from the epoch with the best value of the monitored quantity
    
)

model = Sequential()
model.add(Dense(units=500,  activation="relu"))
model.add(BatchNormalization())
model.add(Dropout(0.4))
model.add(Dense(units=400, activation="relu"))
model.add(BatchNormalization())
model.add(Dropout(0.4))
model.add(Dense(units=400, activation="relu"))
model.add(BatchNormalization())
model.add(Dense(units=400, activation="relu"))
model.add(BatchNormalization())
model.add(Dense(units=100, activation="relu"))
model.add(BatchNormalization())
model.add(Dense(units=1, activation="sigmoid"))

model.compile(optimizer=Adam(), loss="binary_crossentropy", metrics=["recall"])
model.fit(x=Xtrain, y=ytrain, epochs=100, validation_split=0.2, callbacks=[early_stopping, check])

Epoch 1/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 0.6829 - recall: 0.4637 - val_loss: 0.5415 - val_recall: 0.0000e+00
Epoch 2/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.4221 - recall: 0.3587 - val_loss: 0.4460 - val_recall: 0.1522
Epoch 3/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.4121 - recall: 0.3535 - val_loss: 0.4059 - val_recall: 0.5466
Epoch 4/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3981 - recall: 0.3883 - val_loss: 0.3506 - val_recall: 0.4068
Epoch 5/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3773 - recall: 0.3895 - val_loss: 0.3582 - val_recall: 0.3665
Epoch 6/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3798 - recall: 0.3836 - val_loss: 0.3625 - val_recall: 0.4006
Epoch 7/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3719 - recall: 0.4158 - val_loss: 0.3526 - val_recall: 0.3634
Epoch 8/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3572 - recall: 0.4167 - val_loss: 0.3714 - val_recall: 0.4938
Epoch 9/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3572 - recall: 0.4319 - val_loss: 0.3626 - val_recall: 0.4472
Epoch 10/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3592 - recall: 0.4211 - val_loss: 0.3536 - val_recall: 0.4286
Epoch 11/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3665 - recall: 0.4411 - val_loss: 0.3571 - val_recall: 0.4627
Epoch 12/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3509 - recall: 0.4240 - val_loss: 0.3527 - val_recall: 0.4193
Epoch 13/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3371 - recall: 0.4325 - val_loss: 0.3631 - val_recall: 0.4224
Epoch 14/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3492 - recall: 0.4482 - val_loss: 0.3595 - val_recall: 0.4068
Epoch 15/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3554 - recall: 0.4348 - val_loss: 0.3593 - val_recall: 0.4379
Epoch 16/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3499 - recall: 0.4654 - val_loss: 0.3460 - val_recall: 0.4099
Epoch 17/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3565 - recall: 0.4677 - val_loss: 0.3576 - val_recall: 0.4099
Epoch 18/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3354 - recall: 0.4724 - val_loss: 0.3584 - val_recall: 0.5683
Epoch 19/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3494 - recall: 0.4831 - val_loss: 0.3455 - val_recall: 0.4317
Epoch 20/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3492 - recall: 0.4642 - val_loss: 0.3505 - val_recall: 0.4037
Epoch 21/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3468 - recall: 0.4681 - val_loss: 0.3547 - val_recall: 0.4472
Epoch 22/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3546 - recall: 0.4495 - val_loss: 0.3643 - val_recall: 0.3665
Epoch 23/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3659 - recall: 0.4517 - val_loss: 0.3471 - val_recall: 0.4193
Epoch 24/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3503 - recall: 0.4526 - val_loss: 0.3512 - val_recall: 0.4286
Epoch 25/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3363 - recall: 0.4662 - val_loss: 0.3456 - val_recall: 0.4969
Epoch 26/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3404 - recall: 0.4755 - val_loss: 0.3460 - val_recall: 0.5217
Epoch 27/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3490 - recall: 0.4280 - val_loss: 0.3528 - val_recall: 0.4379
Epoch 28/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3477 - recall: 0.4643 - val_loss: 0.3500 - val_recall: 0.4255
Epoch 29/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3458 - recall: 0.4352 - val_loss: 0.3570 - val_recall: 0.4720
Epoch 30/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3340 - recall: 0.4441 - val_loss: 0.3564 - val_recall: 0.4130
Epoch 31/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3429 - recall: 0.4541 - val_loss: 0.3513 - val_recall: 0.4255
Epoch 32/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 0.3476 - recall: 0.4649 - val_loss: 0.3467 - val_recall: 0.4317
Epoch 33/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 0.3286 - recall: 0.4480 - val_loss: 0.3502 - val_recall: 0.3447

In [26]:
model.load_weights('bestmodel.keras')

In [27]:
loss, recall = model.evaluate(Xtest, ytest)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.3386 - recall: 0.4322

In [28]:
ypred = (model.predict(Xtest) > 0.5).astype("int32")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [29]:
ypred

array([[0],
       [0],
       [0],
       ...,
       [1],
       [0],
       [0]])

In [30]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1607
           1       0.74      0.44      0.55       393

    accuracy                           0.86      2000
   macro avg       0.81      0.70      0.73      2000
weighted avg       0.85      0.86      0.85      2000

In [31]:
import pickle
with open("neural.pkl", "wb") as file:
    pickle.dump(model, file)