In [20]:
import pandas as pd 

df = pd.read_csv("customer_churn_prediction_dataset.csv")

1. data exploration
    1.0 describe()
        - check at standard deviation
    1.1 Check balance
    1.2 Count nulls
2. feature engineering
    - 2.0 handle missing values
    - 2.1 balance dataset
    - 2.2 categorical encoding
3. Splitting
    - 3.1 split
    - 3.2 scaling
    - 3.3 selectkbest
4. Training
    - cross validation

In [21]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0001-XXXX,Male,0,Yes,Yes,5,No,Yes,No,No,...,No,No,No,No internet service,Month-to-month,Yes,Credit card,27.43,137.15,Yes
1,0002-XXXX,Female,0,No,No,42,Yes,No phone service,DSL,Yes,...,No,No,No internet service,No internet service,Two year,No,Electronic check,38.28,1607.76,Yes
2,0003-XXXX,Male,0,No,No,61,Yes,No phone service,No,No,...,No,Yes,Yes,No,One year,No,Bank transfer,106.44,6492.84,Yes
3,0004-XXXX,Male,1,No,Yes,22,Yes,No,No,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,92.49,2034.78,No
4,0005-XXXX,Male,1,Yes,Yes,21,No,No,DSL,No,...,No internet service,No,No,No internet service,One year,No,Bank transfer,19.63,412.23,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0296-XXXX,Female,1,No,Yes,61,No,Yes,DSL,No,...,Yes,No internet service,No,No,One year,Yes,Electronic check,42.52,2593.72,No
296,0297-XXXX,Female,0,No,No,49,Yes,No phone service,DSL,No internet service,...,Yes,No internet service,Yes,Yes,Month-to-month,Yes,Mailed check,22.31,1093.19,Yes
297,0298-XXXX,Male,0,No,Yes,71,Yes,Yes,DSL,No internet service,...,Yes,Yes,No,Yes,Two year,No,Mailed check,59.57,4229.47,Yes
298,0299-XXXX,Male,1,Yes,Yes,1,Yes,Yes,No,Yes,...,No internet service,No internet service,Yes,Yes,Two year,No,Credit card,31.32,31.32,No
299,0300-XXXX,Female,1,Yes,Yes,13,Yes,Yes,DSL,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,20.50,266.50,Yes

In [22]:
df.describe()

       SeniorCitizen      tenure  MonthlyCharges  TotalCharges
count     300.000000  300.000000      300.000000    300.000000
mean        0.543333   35.783333       67.226800   2477.975767
std         0.498951   21.113400       28.638073   1918.540111
min         0.000000    1.000000       18.450000     30.030000
25%         0.000000   17.000000       42.337500    910.302500
50%         1.000000   36.000000       68.635000   2072.400000
75%         1.000000   53.250000       92.430000   3618.405000
max         1.000000   72.000000      118.640000   8318.880000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        300 non-null    object
 1   gender            300 non-null    object
 2   SeniorCitizen     300 non-null    int64
 3   Partner           300 non-null    object
 4   Dependents        300 non-null    object
 5   tenure            300 non-null    int64
 6   PhoneService      300 non-null    object
 7   MultipleLines     300 non-null    object
 8   InternetService   300 non-null    object
 9   OnlineSecurity    300 non-null    object
 10  OnlineBackup      300 non-null    object
 11  DeviceProtection  300 non-null    object
 12  TechSupport       300 non-null    object
 13  StreamingTV       300 non-null    object
 14  StreamingMovies   300 non-null    object
 15  Contract          300 non-null    object
 16  PaperlessBilling  300 non-null    object
 17  PaymentMethod     300 non-null    object
 18  MonthlyCharges    300 non-null    float64
 19  TotalCharges      300 non-null    float64
 20  Churn             300 non-null    object
dtypes: float64(2), int64(2), object(17)
memory usage: 49.3+ KB

In [24]:
df["TotalCharges"].isnull().value_counts()

False    300
Name: TotalCharges, dtype: int64

In [25]:
df["Churn"].value_counts()

No     161
Yes    139
Name: Churn, dtype: int64

# Preprocessing

In [26]:
from  sklearn.preprocessing import LabelEncoder, StandardScaler

In [27]:
for col in df.select_dtypes("object").columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,1,5,0,2,2,0,...,0,0,0,1,0,1,1,27.43,137.15,1
1,1,0,0,0,0,42,1,1,0,2,...,0,0,1,1,2,0,2,38.28,1607.76,1
2,2,1,0,0,0,61,1,1,2,0,...,0,2,2,0,1,0,0,106.44,6492.84,1
3,3,1,1,0,1,22,1,0,2,1,...,2,0,1,2,0,0,2,92.49,2034.78,0
4,4,1,1,1,1,21,0,0,0,0,...,1,0,0,1,1,0,0,19.63,412.23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,0,1,0,1,61,0,2,0,0,...,2,1,0,0,1,1,2,42.52,2593.72,0
296,296,0,0,0,0,49,1,1,0,1,...,2,1,2,2,0,1,3,22.31,1093.19,1
297,297,1,0,0,1,71,1,2,0,1,...,2,2,0,2,2,0,3,59.57,4229.47,1
298,298,1,1,1,1,1,1,2,2,2,...,1,1,2,2,2,0,1,31.32,31.32,0
299,299,0,1,1,1,13,1,2,0,1,...,2,0,1,2,0,0,2,20.50,266.50,1

In [39]:
Y = df["Churn"]
X = df.drop(["customerID", "Churn"], axis=1)

In [67]:
from sklearn.model_selection import train_test_split
#primero todas las XX
X_train, X_test, y_train, y_test = train_test_split(X,Y, train_size= 0.8, random_state=42)

In [68]:
X_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
232,0,0,1,0,60,1,1,2,1,0,2,0,0,1,0,1,0,90.25,5415.00
59,1,0,0,1,6,0,1,0,2,2,2,1,0,2,2,1,0,34.28,205.68
6,1,1,1,0,1,0,0,0,0,0,1,2,1,2,0,0,1,39.80,39.80
185,1,1,1,1,29,0,0,0,1,0,0,2,0,1,1,1,3,55.98,1623.42
173,0,1,0,1,51,0,1,2,2,2,0,2,0,1,1,1,0,57.23,2918.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,1,0,0,0,36,1,0,2,0,0,0,0,0,0,2,1,0,118.47,4264.92
71,0,1,0,1,70,1,2,1,1,2,2,2,2,2,2,1,3,70.01,4900.70
106,0,1,0,0,14,1,2,2,0,2,0,2,0,2,1,1,2,91.86,1286.04
270,0,1,1,0,2,1,2,2,2,2,0,1,1,2,1,0,3,44.34,88.68
102,0,0,1,1,20,0,2,1,0,1,1,2,1,1,1,1,2,30.06,601.20

In [92]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [70]:
from sklearn.feature_selection import SelectKBest, f_classif
selector = SelectKBest(score_func=f_classif, k=16)

# Fit the selector to the training data
selector.fit(X_train, y_train)

# Transform the data to select the top k features
X_train = selector.transform(X_train)
X_test = selector.transform(X_test)

# Get the selected feature indices and scores
selected_indices = selector.get_support(indices=True)
selected_scores = selector.scores_

print(selected_indices)

[ 1  2  3  4  6  8  9 10 11 12 13 14 15 16 17 18]

In [125]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

params = {
    #coef for regularization - unidades 
    "C": [0.1, 1, 5, 10],
    #coef for kernel function - 
    "gamma": [1, 0.1 , 0.01, 0.05, 0.005, 0.001],
    "kernel": ["rbf", "linear", "sigmoid"]
}

grid = GridSearchCV(SVC(), scoring="recall", param_grid=params, cv=4, refit=True)

grid.fit(X_train, y_train)

y_pred = grid.best_estimator_.predict(X_test)
y_pred

array([0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1])

In [126]:
grid.best_estimator_

SVC(C=5, gamma=1, kernel='sigmoid')

In [127]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.53      0.50      0.52        34
           1       0.39      0.42      0.41        26

    accuracy                           0.47        60
   macro avg       0.46      0.46      0.46        60
weighted avg       0.47      0.47      0.47        60

In [116]:
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import GaussianNB

params = {
    #coef for regularization - unidades 
    "var_smoothing": [1e-8, 1e-9, 1e-10],
    
}

grid = GridSearchCV(GaussianNB(), param_grid=params, scoring="recall",cv=4, refit=True)

grid.fit(X_train, y_train)

y_pred = grid.best_estimator_.predict(X_test)
y_pred

array([0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0])

In [117]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.50      0.56      0.53        34
           1       0.32      0.27      0.29        26

    accuracy                           0.43        60
   macro avg       0.41      0.41      0.41        60
weighted avg       0.42      0.43      0.43        60

In [121]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

params = {
    #coef for regularization - unidades 
    "C": [1.0, 0.5 , 0.1],
   
    
}

grid = GridSearchCV(LogisticRegression(), param_grid=params, scoring="recall", cv=4, refit=True)

grid.fit(X_train, y_train)

y_pred = grid.best_estimator_.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.50      0.56      0.53        34
           1       0.32      0.27      0.29        26

    accuracy                           0.43        60
   macro avg       0.41      0.41      0.41        60
weighted avg       0.42      0.43      0.43        60

In [120]:
sv = SVC(C=5, gamma=0.1, kernel="sigmoid")
sv.fit(X_train, y_train)
y_pred = sv.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.59      0.59      0.59        34
           1       0.46      0.46      0.46        26

    accuracy                           0.53        60
   macro avg       0.52      0.52      0.52        60
weighted avg       0.53      0.53      0.53        60